<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Common.Source" version="1.2.0.3" targetFramework="net462" />
  <package id="DLaB.Xrm.Source" version="2.3.0.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.12" targetFramework="net462" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.9.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
</packages>