<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Connection Settings Start -->
    <!--
      Settings:
        ConnectionPrefix - Prefix used to determine which connection string to use
        {ConnectionPrefix}ConnectionString - The Connection string to use
        Password - Password for all connection strings
        {ConnectionPrefix}Password - Password for a particular connection string
        UseLocalCrmDatabase - This controls if TestBase.GetOrganizationService returns a connection to an actual CRM, or if it returns a connection to an "In Memory" CRM.    
    -->
    <add key="UseLocalCrmDatabase" value="true"/>

    <add key="ConnectionPrefix" value="Dev."/>

    <add key="Dev.ConnectionString" value="AuthType=Office365;Username=jsmith@contoso.onmicrosoft.com; Url=https://dev.contoso.crm.dynamics.com"/>
    <add key="Qa.ConnectionString" value="AuthType=Office365;Username=jsmith@contoso.onmicrosoft.com; Url=https://qa.contoso.crm.dynamics.com"/>
    <add key="Stage.ConnectionString" value="AuthType=Office365;Username=jsmith@contoso.onmicrosoft.com; Url=https://stage.contoso.crm.dynamics.com"/>
    <add key="Prod.ConnectionString" value="AuthType=Office365;Username=jsmith@contoso.onmicrosoft.com; Url=https://prod.contoso.crm.dynamics.com"/>


    <!-- Connection Settings End -->

    <!-- Format of FullName
      F = First Name
      M = Middle Name
      I = Middle Initial 
      L = Last Name
    -->
    <add key="CrmSystemSettings.FullNameFormat" value="F I L"/>

    <!-- Scroll down to update Password -->



































    <!-- Use if you have a single password for all orgs -->
    <add key="Password" value="MyPassword"/>
    <!-- Use if you have seperate passwords per org -->
    <!--
    <add key="Dev.Password" value="MyPassword"/>
    <add key="Qa.Password" value="MyPassword"/>
    <add key="Stage.Password" value="MyPassword"/>
    <add key="Prod.Password" value="MyPassword"/>
    -->
  </appSettings>
</configuration>
