<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Connection Settings Start -->
    <!--
      Settings:
        CrmServerUrl - Base Url to the Crm Server
        DebugUserAccountDomain - Domain of Non-IFD CRM connections
        DebugUserAccountName - Domain\UserName when connecting to IFD, just use the UserName when connecting to a non IFD and populate the DebugUserAccountDomain config value
        DebugUserAccountPassword - Password for the Account
        OrgName - This is the Name of the Org of CRM you are connecting to
        UseDebugCredentialsForTesting - By default the connection to CRM will send your Windows Credentials.  
                                        This means if you're running VS from your own VM, connecting to your own VM CRM, it should be 'false' and you can ignore having to set any DebugUserAccountName settings
                                        For all non Windows Credential Applications, this should be 'true'
        UseLocalCrmDatabase - This controls if TestBase.GetOrganizationService returns a connection to an actual CRM, or if it returns a connection to an "In Memory" CRM.    
    -->


    <add key="UseLocalCrmDatabase" value="true"/>
    <add key="UseDebugCredentialsForTesting" value="true"/>

    <add key="OrgName" value="MyOrgName"/>



    <add key="CrmServerUrl" value="https://crm.dynamics.com"/>
    <add key="DebugUserAccountDomain" value=""/>
    <add key="DebugUserAccountName" value="myAccount@myCompany.com"/>

    <!-- Connection Settings End -->

    <!-- Format of FullName
      F = First Name
      M = Middle Name
      I = Middle Initial 
      L = Last Name
    -->
    <add key="CrmSystemSettings.FullNameFormat" value="F I L"/>








    <add key="DebugUserAccountPassword" value="MyPassword"/>
  </appSettings>
</configuration>