<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Common" version="1.0.1.6" targetFramework="net452" />
  <package id="DLaB.Xrm.2016" version="1.1.5-alpha01" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.0.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.0.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Extensions" version="7.1.0.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.0.1" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.89.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
</packages>