<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Common" version="1.0.4.11" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Extensions" version="7.1.0.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.2.3" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="XrmUnitTest.09" version="2.0.0.3" targetFramework="net462" />
</packages>