<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Common.Source" version="1.2.0.3" targetFramework="net462" />
  <package id="DLaB.Xrm.Source" version="2.3.0.9" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="6.1.2" allowedVersions="(,7.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="6.1.1" allowedVersions="(,7.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Extensions" version="6.0.4.1" allowedVersions="(,7.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="6.1.1" allowedVersions="(,7.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="6.1.1" allowedVersions="(,7.0)" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" allowedVersions="(,7.0)" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="2.1.2.0" targetFramework="net462" />
</packages>