<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Common.Source" version="1.2.0.3" targetFramework="net462" />
  <package id="DLaB.Xrm.Source" version="2.3.0.9" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.2.0.2" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.2.0.5" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.9.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
</packages>