<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLaB.Common.Source" version="1.4.0.5" targetFramework="net462" />
  <package id="DLaB.Xrm.Source" version="3.4.0.19" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.2.0.2" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="8.2.0.5" allowedVersions="(,9.0)" targetFramework="net462" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
</packages>